{
	"trailingComma": "none",
	"semi": true,
	"singleQuote": false,
	"arrowParens": "always",
	"printWidth": 88,
	"tabWidth": 2,
	"useTabs": true,
	"endOfLine": "auto",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		}
	]
}
